.Header{
    height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: black;

}
.logo{
    height: 100%;
    flex: 0.1;  
}
.but{
    background-color: transparent;
    width: max-content;
    color: white;
    outline: none;
    border: none;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 10px 18px;
    border: 1px solid white;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
}
.but:active{
    scale: 0.95;
}
.but:hover{
    background-color: white;
    color: black;
}
.home{
    color: white !important;
    font-size: 20px !important;
    margin: 0 5px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex: 0.7;
    
}
.H{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}
.p{
    color:white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size:13px;
    text-align: center;
    margin-left: 10px;
    margin-right: 15px;
    white-space: nowrap;
        position: relative;
}
 
.p:before {
         background-color: rgb(249, 249, 249);
         border-radius: 0px 0px 4px 4px;
         bottom: -6px;
         content: "";
         height: 2px;
         left: 0px;
         opacity: 0;
         position: absolute;
         right: 0px;
         transform-origin: left center;
         transform: scaleX(0);
         transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
         visibility: hidden;
         width: auto;
     }

.p:hover:before{
      
         transform: scaleX(1);
         visibility: visible;
         opacity: 1 !important;
     
 }
 .use{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
 }
 .userphoto{
    border-radius: 50%;
    height: 50px;
 }
 .signout{
    border: 1px solid grey;
    color: white;
    margin-right: 40px;
    background-color: black;
    transition: 0.3s;
    position: absolute;
    width: max-content;
    padding: 5px 15px;
    border-radius: 5px;
    top:60px;
    z-index: 1;
    display: inline-block;
    cursor: pointer;
    visibility: hidden;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
 }
 .signout:active{
    scale: 0.95;
 }
 .signout:hover{
    background-color: rgb(36, 35, 34);
 }

.use:hover .signout{
  cursor: pointer;
  visibility: visible;
 
}