.Homee{
    position: relative;
       height: 100vh;
        overflow-x: hidden;
        display: block;
        padding: 0 calc(3.5vw + 5px);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
}
.Homee::after{
    background: url('D:\Projects\disney\src\home-background.png') center center / cover no-repeat fixed;
        content: "";
        position: absolute;
        inset: 0px;
        opacity: 1;
        z-index: -1;
    }
